<div class="container">
  <ul>
    <div>
      <li><a routerLink="/home">Home</a></li>
      <li><i class="fa-solid fa-chevron-right"></i></li>
      <li><a routerLink="/delivery">About Us</a></li>
    </div>
  </ul>

  <h1>About us</h1>
  <h4>
    iSpace - Official Apple Partner in Georgia as an Apple Authorized Reseller.
  </h4>
  <h5>
    The Apple Authorized Reseller status is granted only to professionals in the
    field.
  </h5>
  <p class="paragraph">
    In our stores, you can not only buy iPhone, Mac computers, or iPad tablets
    but also other Apple technology and accessories. iSpace is a place infused
    with the Apple atmosphere, where we help you choose technology, teach you
    how to use it, provide advice on operating your gadgets, and offer
    high-quality accessories.
  </p>
  <p class="paragraph">
    In our stores, you can not only buy iPhone, Mac computers, or iPad tablets
    but also other Apple technology and accessories. iSpace is a place infused
    with the Apple atmosphere, where we help you choose technology, teach you
    how to use it, provide advice on operating your gadgets, and offer
    high-quality accessories.
  </p>
  <p class="paragraph">
    Our salespeople are genuine experts in their field. Apple's high-quality,
    user-friendly technology brings joy to its users and requires minimal
    technical support.
  </p>
  <p class="paragraph">
    In our store, you will always find everything you need.
  </p>

  <div class="box-container">
    <div class="box">
      <img src="assets/about-images/aboutimg1.webp" alt="image1" />
      <p class="title">Initial Setup</p>
      <p class="description">
        We will guide you on preparing your new device for operation. We assist
        in activation, language selection, and security setup. Additionally, we
        help connect your device to Apple services immediately after the first
        activation.
      </p>
    </div>

    <div class="box">
      <img src="assets/about-images/aboutimg2.webp" alt="image1" />
      <p class="title">Wide Range of Accessories</p>
      <p class="description">
        We offer a vast selection of accessories to protect your devices: cases,
        screen protectors, covers, bags, and compatible peripherals such as
        styluses, keyboards, mice, headphones, speakers, and more, all perfectly
        matched with Apple technology.
      </p>
    </div>

    <div class="box">
      <img src="assets/about-images/aboutimg3.webp" alt="image1" />
      <p class="title">Wide Range of Accessories</p>
      <p class="description">
        Our specialists help prepare your new device for operation even before
        leaving the store. They apply protective screen covers, recommend
        suitable accessories, and, if needed, install programs and transfer
        data.
      </p>
    </div>
    <div class="box">
      <img src="assets/about-images/aboutimg4.webp" alt="image1" />
      <p class="title">Personalized Training</p>
      <p class="description">
        This is individual training where you learn to use your new gadget from
        scratch. Our staff will guide you on useful applications and demonstrate
        the possibilities of the Apple ecosystem.
      </p>
    </div>
    <div class="box">
      <img src="assets/about-images/aboutimg5.webp" alt="image1" />
      <p class="title">Convenient Payment Options</p>
      <p class="description">
        You can purchase equipment using cards or cash and even opt for
        installment plans or credit.
      </p>
    </div>
    <div class="box">
      <img src="assets/about-images/aboutimg6.webp" alt="image1" />
      <p class="title">Nationwide Delivery</p>
      <p class="description">
        We deliver your new device to you or your close ones wherever you are.
        There's no long wait; shipment occurs the next day after payment. The
        delivery cost is automatically calculated during order placement.
      </p>
    </div>
    <div class="box">
      <img src="assets/about-images/aboutimg7.webp" alt="image1" />
      <p class="title">Professional Repair</p>
      <p class="description">
        iSupport is the only authorized Apple service center in Georgia. Our
        engineers regularly enhance their qualifications and repair devices
        following Apple Inc.'s regulations.
      </p>
    </div>
  </div>
</div>

